@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900&display=swap&subset=latin-ext');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  font: 14px/1.4 'Titillium Web', sans-serif;
  color: #edf5e1;
  background: #5Cdb95;
  height: 100%;
}
h1,h2,h3,h4,a{
  font-weight: 300;
}
a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
	flex: 1 0 auto;
}
.main__header{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.calculator{
  display: inline-block;
  background: #05386b;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 10px solid #379683;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  margin: auto;
}
.button{
  color: #edf5e1;
  font-size: 1.3rem;
  background: #5Cdb95;
  border: none;
  padding: 5px;
  border-radius: 10px;
  border-bottom: 5px solid #379683;
}
.button:hover{
  background: #379683;
  transition: .3s;
}
.calculator__header{
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear-display{
  border-left: 1px solid #5Cdb95;
  margin: 0!important;
  border: none;
  border-radius: 0;
  height: 80px;
  flex: 1 1 20%;
}
.clear-display:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.calculator__body{
  display: flex;
  justify-content: center;
}
.calculator-numbers{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  flex: 1 1 90%;
}
.calculator__aside{
  display: flex;
  flex-direction: column;
  flex: 1 1 10%;
  margin: 0 0 0 5px;
}
.button__calc{
  margin: 10px 10px 0 10px  ;
  flex: 1 1 20%;
}
.button__option{
  margin: 5px 0 0 0;
}
.display{
  position: relative;
  height: 80px;
  padding: 15px;
  max-width: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex: 1 1 90%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #379683;
}
.display-result{
  position: absolute;
  color: #05386b;
  font-size: 1.1rem;
  right: 15px;
  top: 5px;
}
.header__h1{
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 11px;
  border: 2px solid #edf5e1;
  text-align: center;
}
.footer {
  text-align: center;
  padding: 10px;
	flex: 0 0 auto;
}
.footer a{
  background: #379683;
  padding: 10px;
  border-radius: 10px;
}
